footer {
  background-color: var(--color-section);
}

footer .buy-info {
  display: flex;
  justify-content: space-around;
  gap: 20px;

  padding: 76px 0;

  text-align: center;
}

footer .buy-info .icon {
  width: 56px;
  height: 56px;

  margin: 0 auto 10px;
}

footer .buy-info h3 {
  margin-bottom: 8px;

  font-size: 18px;
  font-weight: 600;
}

footer .buy-info p {
  margin-bottom: 12px;
  font-size: 14px;
}

footer .buy-info a.link {
  font-size: 14px;
}
