body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  word-break: keep-all;

  color: #1d1d1d;

  height: 10000px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #1d1d1d;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
}

/* search input reset 버튼 삭제 */
input::-ms-clear,
input::-ms-reveal {
  display: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

button {
  cursor: pointer;
}
